#pageClip {
    --page-width: 100vw;
    --page-height: calc(100vh - var(--header-height));
    width: var(--page-width);
    height: var(--page-height);
    position: absolute;
    top: var(--header-height);
    overflow: hidden;
}
#pages {
    position: absolute;
    top: calc(var(--page-height) * -1 * var(--pageNow));
    transition: 1s;
}
#pages > div[id^="page"] {
    width: var(--page-width);
    height: var(--page-height);
    overflow: hidden;
}
#pages > div[id^="page"] > .content {
    --content-padding: 5vw;
    --content-width: calc(var(--page-width) - var(--content-padding) * 2);
    --content-height: calc(var(--page-height) - var(--content-padding) * 2);
    margin: var(--content-padding);
    width: var(--content-width);
    height: var(--content-height);
    color: white;
    overflow: hidden;
}
#pageClip button[id^="floatButton"] {
    --floatButton-width: 100vw;
    width: var(--floatButton-width);
    height: 2.5vw;
    position: absolute;
    left: calc((100% - var(--floatButton-width)) / 2);
    border-width: 0px;
    border-radius: 0px;
    opacity: 0.2;
}
#pageClip button[id^="floatButton"]:not([disabled]):hover {
    color: white;
    background-color: #666666;
    opacity: 1;
}
#pageClip button#floatButton-back {
    top: 1vw;
}
#pageClip button#floatButton-next {
    bottom: 1vw;
}

[id$="-empty"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
/* page-upload */
div#docxViewer {
    padding: 1vw;
    width: var(--content-width);
    height: calc(var(--content-height) - var(--h1-height) - var(--button-height));
    border-style: solid;
    border-width: 0.2;
    border-color: #888888;
    overflow-x: hidden;
    overflow-y: auto;
    word-break: break-all;
}
div#docxViewer img {
    display: block;
    width: 10vw;
    height: 10vw;
}
div#docxViewer table {
    background-color: white;
}
div#docxViewer td {
    padding: 0.2vw;
    background-color: black;
}

/* page-customize */
div#settingsForm {
    padding: 1vw;
    width: var(--content-width);
    height: calc(var(--content-height) - var(--h1-height));
    border-style: solid;
    border-width: 0.2;
    border-color: #888888;
    overflow-x: hidden;
    overflow-y: auto;
    word-break: break-all;
}
div#settingsForm:not([empty]) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
div#settingsForm .block {
    --blockNum: 2;
    --usingBlockNum: var(--blockNum);
    --gap: 1vw;
    --hasMarginLeft: 0;
    width: calc((100% / var(--usingBlockNum)) - ((var(--usingBlockNum) - 1) * var(--gap)) / var(--usingBlockNum));
    margin-right: calc(var(--hasMarginLeft) * var(--gap));
}
div#settingsForm .inputRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.3vw;
}
@media screen and (max-width: 620px) {
    div#settingsForm:not([empty]) {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    div#settingsForm .block {
        --usingBlockNum: 1;
        --gap: 0px;
    }
}